<div class="container">
<%= form_for([@host,@event]) do |f| %>
  <% if @event.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@event.errors.count, "error") %> prohibited this event from being saved:</h2>

      <ul>
      <% @event.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :event_title %><br>
    <%= f.text_field :event_title %>
  </div>
  <div class="field">
    <%= f.label :starts_at %><br>
    <%= f.date_field :starts_at,class: 'datepicker' %>
  </div>
  <div class="field">
    <%= f.label :event_avatar %>
    <%= f.file_field :event_avatar %>
  </div>
  <div class="field">
    <%= f.label :time_zone %><br>
    <%= f.text_field :time_zone %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
</div>
